/*color: #ffb400; */

/*____________________________Configurações globais____________________________*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
  box-sizing: border-box;
}


body,html{
  background: #a59c8a;
  width: 100%;
  height: 100%;
}


h1 {
  font-weight: bold;
  font-variant: small-caps;
}

h1.titles {
  color: #c9c5ab;
  background: rgba(0, 0, 0, 0.423);
  font-size: 40px;
  
  font-variant: none;
  border-radius: 10px;
  text-align: center;

  padding: 10px;
  width: 100%;
  margin: 0 auto;
}

/*____________________________Header___________________________*/

div#header-container {
  color: white;
  background: rgba(0, 0, 0, 0.746);
  border: 2px solid #fffad9bc;
  border-radius: 10px;

  width: 90%;
  height: 70px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


#img-logo {
  width: 180px;
  padding-left: 10px;
}


div#mobile-menu {
  display: none;
}

div.change-theme-mobile {
  display: none;
}


div#change-theme {
  display: flex;
  align-items: center;
  gap: 20px;
}


.img-theme {
  transition: all 0.5s;
  border-radius: 5px;

  width: 60px;
  padding: 1px;
  margin-right: 10px;
  user-select: none;
}


img#theme-1:hover {
  transition: all 0.5s;
  background-color: #ffffff5c;
}

img#theme-1:active {
  transition: none;
  background-color: #ffffffa0;
}


img#theme-2:hover {
  transition: all 0.5s;
  background-color: #ffdd8850;
}

img#theme-2:active {
  transition: none;
  background-color: #ffdd8897;
}
/*____________________________Main + Newsletter____________________________*/

section.main-section-gold {
  background: url("../steins-gate-images/background.png") no-repeat top center fixed;
  background-size: cover;
  box-shadow: 10px 10px  30px inset #000000a2;

  margin: 0 auto;
  padding: 10px;
}


section.main-section-white {
  background: url("../steins-gate-images/background-2.jpg") no-repeat center center fixed;
  background-size: cover;
  box-shadow: 10px 10px  30px inset #000000a2;
  
  margin: 0 auto;
  padding: 10px;
}


div#newsletter {
  transition: background 0.8s; 

  color: white;
  background: rgba(0, 0, 0, 0.746);
  border: 3px solid #fffad9bc;
  border-radius: 20px;
  text-align: center;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  position: relative;
  left: 5%;
  padding: 20px;
  margin: 180px 0px 60px;

  width: 35vw;
  max-width: 400px;
  min-width: 310px;

  height: 40vh;
  min-height: 380px;
}

div#newsletter:hover {
  background: #000000dd;
}


input#email-newsletter {
  border-radius: 10px;
  border: none;
  font-weight: bold;

  padding: 10px; 
  width: 85%;
  max-width: 280px;
}


button#button-newsletter {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;

  width: 93%;
  max-width: 300px;
  padding: 9px;
}

/* Classes para alterar as opções de cores do Newsletter */

.gold-color {
  transition: all 1s;
  background: #fffad9;
}

.gold-color:hover {
  transition: all 0.5s;
  background: #fff196;
}

.gold-color:active {
  background: #ffec71;
}


.white-color {
  transition: all 0.5s;
  background:#C2C2C2;
}

.white-color:hover {
  transition: all 0.5s;
  background:#e6e6e6;
}

.white-color:active {
  background: #ffffff;
}



/*_____________________________Informações do anime (história e personagens)____________________________*/

section#anime-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

  padding: 20px;
}


div#story {
  background-color: #c9c5ab;
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;

  display: flex;
  position: relative;

  padding: 10px;
  width: 80%;
}


div#story-text {
  display: flex;
  flex-direction: column; 

  margin-right: 197px;
}


div#story h1 {
  font-variant: normal;
  font-size: 34px;

  display: flex;
  margin-bottom: 10px;
}


div#story-image-mobile {
  display: none;
}


div#story-image-pc img {
  position: absolute;
  right: 0;
  bottom: 0;

  width: 15%;
  min-width: 200px;
  height: 400px;
}


div.characters {
  border-radius: 10px;

  display: grid;
  grid-gap: 45px 15px;
  grid-template-areas: 
  "image image image image"
  "image image image image"
  "image image image image";

  width: 81%;
  margin: 0 auto;
}


div.character {
  transition: all 0.5s;

  background: rgba(0, 0, 0, 0.423);
  border-radius: 10px;
  
  grid-area: "image";
  
  position: relative;

  width: 260px;
  height: 300px;
  margin: 0 auto;
  user-select: none;
  
}


div.character img {
  transition: all 1s;

  border-radius: 10px;

  position: absolute;
  bottom: 0;
  right: 0;
  

  width: 270px;
  height: 340px;
  user-select: none;
}

div.character img:hover {
  transition: all 1s;

  width: 290px;
  height: 360px;
}

div.character:hover {
  transition: background 0.5s, border 0.2s;
  background: rgba(0, 0, 0, 0.674);
  border: 3px solid white;
}


.buttons {
  color: rgb(201, 197, 171);
  background: rgba(0, 0, 0, 0.423);
  border-radius: 10px;
  font-size: 65px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  user-select: none;
}

.buttons:hover {
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.674);
}

.buttons:active {
  transition: none;
  background: black;
}



section#wallpapers {
  display: flex;
  flex-direction: column;
  gap: 70px;

  padding: 20px;
}


div#wallpapers-container {
  box-shadow: 5px 10px 40px black;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 850px;
  height: 500px;
  margin: 0 auto;
}


div.buttons {
  transition: all 0.8s;

  color: transparent;
  background: transparent;
  font: bold 40px sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  z-index: 1;
  user-select: none;
}

div.buttons:hover {
  transition: all 0.8s;
  color: white;
  background: rgba(0, 0, 0, 0.350);
}


#previous {
  border-radius: 10px 0px 0px 10px;
}

#next {
  border-radius: 0px 10px 10px 0px;
}


div.images {
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  position: absolute;

  width: 850px;
  height: 500px;
}


.items {
  transition: all 0.7s;
}


.items:first-child {
  margin-left: -100%;
}


div.images img {
  border-radius: 10px;

  width: 850px;
  height: 500px;
}



section#copyright {
  color: rgba(255, 254, 254, 0.789);
  background: rgba(0, 0, 0, 0.655);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  padding: 20px;
  margin: 40px 0px;
}

p#text-copyright {
  padding: 10px;
}


nav#contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
}


nav#contact a{
  color: rgba(255, 254, 254, 0.789);
  text-decoration: none;
  padding: 7px;
}

nav#contact a:hover {
  transition: all 0.7s;
  background: black;
  border-radius: 7px;
}




@media screen and (max-width: 1377px)  {
 
  
  div.characters {
    grid-template-areas: 
    "image image image"
    "image image image"
    "image image image";
  }


  div#wallpapers-container {
    width: 720px;
    height: 400px;  
  }


  div.images{
    width: 720px;
    height: 400px; 
  }

  div.images img{
    width: 720px;
    height: 400px;
  }
}




@media screen and (max-width: 1024px) {

  section.main-section-gold {
    background-position: right center;
  }

  section.main-section-white {
    background-position: center center;
  }


  div.characters {
    grid-template-areas: 
    "image image"
    "image image"
    "image image";
  }

  
  div#wallpapers-container {
    height: 350px;
    width: 585px;
    min-width: 0px;
  }


  div.images{
    height: 350px;
    width: 585px;
    min-width: 0px;
  }


  div.images img{
    height: 350px;
    width: 585px;
    min-width: 0px;
  }
}

@media screen and (max-width: 730px) {


  h1.titles {
    font-size: 30px;
  }

  div#header-container {
    flex-direction: center;
  }

  #img-logo {
    width: 30%;
    min-width: 100px;
    padding-left: 10px;
 }

 div#change-theme {
    display: none;
 }

 div.show {
  display: flex;
}

 div.change-theme-mobile {
   color: white;
   background: rgba(0, 0, 0, 0.746);
   border: 3px solid #fffad9bc;
   border-radius: 10px;
   text-align: center;

   flex-direction: column; 
   gap: 15px;
   
   width: 90%;
   min-width: 245px;
   padding: 10px;
   margin: 50px auto;
  }


  p#theme-title {
    font-size: 3.5vw;
    width: 100%;
  }


  div.icons {
    display: flex;
    justify-content: center;
    gap: 3%;
  }


  .img-theme-mobile {
    width: 13%;
    border-radius: 5px;
    padding: 3px;
    min-width: 60px ;
  }

  div#mobile-menu {
    display: flex;
    padding-right: 15px;
  }


  div#mobile-menu img {
    width: 7vw;
    min-width: 30px;
  }


  section.main-section-gold {
    background-position:  center right 5%;
  }

  section.main-section-white {
    background-position: center center;
  }


  div#newsletter{
    margin: 70px auto;
    left: 0%;
    width: 75%;
    min-width: 225px;
    max-width: 400px;
  }


  div#story {
    flex-direction: column;
  } 


  div#story-text {
    display: flex;
    flex-direction: column; 

    margin-right: 0px;
    margin-bottom: 120px;
  }


  div#story-image-mobile img {
    position: absolute;
    bottom: -45px;
    right: 0;

    width: 113%;
    max-height: 200px;
    min-height: 150px;
  }


  div#story-image-mobile {
    display: block;
  }


  div#story-image-pc {
    display: none;
  }

  div.characters {
    grid-template-areas: 
    "image"
    "image"
    "image";

    width: 60%;
    margin-top: -50px;
    min-width: 230px ;
    gap: 40px;
  }

  div.character {
    width: 230px;
    height: 275px; 
  }

  div.character img {
    width: 240px;
    height: 300px;
  }

  div.character img:hover {
    width: 260px;
    height: 320px;
  }
  

  div#wallpapers-container {
    height: 25vh;
    min-height: 200px;

    width: 74vw;
    min-width: 0px;
    max-width: 550px;
  }


  div.buttons {
    font-size: 30px;
    width: 40px;
  }


  div.images{
    height: 25vh;
    min-height: 200px;

    width: 74vw;
    min-width: 0px;
    max-width: 550px;
  }


  div.images img{
    height: 25vh;
    min-height: 200px;

    width: 74vw;
    min-width: 0px;
    max-width: 550px;
  }

  nav#contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  
  nav#contact a{
    font-size: 14px;
    color: rgba(255, 254, 254, 0.789);
    text-decoration: none;
    padding: 7px;
  }


}
